.bio{
    color:rgb(215, 153, 87);
    height: 100px;
    width:50%;
    border: 10px solid rgb(215, 153, 87);;
    position:relative;
    top:180px;
    left:31%;
}

.title{
    font-size: 40px;
    color:rgb(73, 13, 91);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    left:38%;
}
.title:hover{
    background-color:rgb(236, 179, 75);
}
.mainButton{
    position:absolute;
    left:48%;
    top:310px;
    background:rgb(44, 131, 168);
    color:rgb(209, 222, 233);
    border-radius: 30%;
    width:100px;
    height:60px;
    font-size: 20px;
    color: white;
}
.mainButton:hover{
    text-shadow: 2px 2px 2px rgb(19, 19, 90);
    box-shadow: 2px 2px 2px rgb(185, 110, 200);
}

body{
    background-color:rgb(178, 216, 223);
}
